
/* Back ground for all the pages */
body{
  background-color: #6e5205;
  background-image: url('/pics/w1.jpg');
  background-position: cover ;
  background-size: cover;
  background-repeat: repeat;
}

/* @@@@@@@@@@@@@@@@@  NAVIGATION BAR @@@@@@@@@@@@@@@@@@@@@@@@@  */

/*  For Text in Navbar */

.navbar-nav a{
  margin: 0%;
  color: rgb(0, 0, 0);
}
.navbar-brand{
  font-family: Helvetica ;
  color: rgb(0, 0, 0);
  font-size: 110%;
  font-weight: bold;
}
.navbar-nav li{
  margin: 0fr;
  font-family: Helvetica ;
  display:inline-block;
  margin-left: 5px;
  font-size: 110%;
  font-weight: bold;
}

/* Search bar */

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 0;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}


/* @@@@@@@@@@@@@@@@@  HOME PAGE @@@@@@@@@@@@@@@@@@@@@@@@@  */

.carousel-indicators .active{
  background-color: #000000;
}
.carousel-caption h3 {
  font-family: Garamond;
  font-weight: bold;
  font-size: 50px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.938);
}

/* Description text */
.carousel-caption p {
  padding: 5px;
  background: rgb(231, 134, 8);
  font-family:Garamond;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20%; 
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: 500px;
  color: rgb(0, 0, 0);
}

  /* @@@@@@@@@@@@@@@@@  REGISTERATION PAGE @@@@@@@@@@@@@@@@@@@@@@@@@  */

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  color: #000000;
  max-width: 800px;
  margin: inherit;
} 
.container a{
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
}
.container {
  font-family: "Helvetica";
  color: #020202;
  font-size: 15px;
  margin: auto;
}
.form-group label{
  font-family: "Helvetica";
  color:  rgb(0, 0, 0);
  font-size: 20px;
  margin: auto;
}
.form-group input{
  font-family: "Helvetica";
  color: #0d0e0d;
  border-color: green;
  font-size: 15px;
  margin: auto;
}

.btn {
  background-color: rgb(245, 142, 8); /* Orange */
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  border-color: green;
  font-size: 20px;
  font-weight: bold;
} 

/*@@@@@@@@@@@@@@@@@@@@@@@@@@ PROFILE PAGE @@@@@@@@@@@@@@@@@@@@@@@@@ */

.nav-item {
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
}
.row label{
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}
.row .col-md-8.col-6{
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@ CONTACTS PAGE @@@@@@@@@@@@@@@@@@@@@@@@@ */

.row text{
  font-family: "Helvetica";
  color: #020202;
  font-size: 25px;
}
.input-group{
  font-family: "Helvetica";
  color: #020202;
  font-size: 20px;
  border-color: green;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@ DASHBOARD @@@@@@@@@@@@@@@@@@@@@@@@@ */

.column.middle .card{
  align-content: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@ CHAT @@@@@@@@@@@@@@@@@@@@@@@@@ */

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.outgoing_msg_img {
  /* display: inline-block; */
  float: right;
  width: 6%;
}
.received_msg {
  font-family: "Helvetica";
  display: inline-block;
  color: #020202;
  border-color: black;
  font-size: 20px;
  padding: 0 0 0 10px;
  vertical-align: top;
}
.received_withd_msg p {
  font-family: "Helvetica";
  float: right;
  background: rgb(243, 207, 154);
  border-radius: 10px;
  font-size: 20px;
  border-color: black;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}
  
.sent_msg p {
  font-family: "Helvetica";
  display: inline-block;    background: rgb(150, 212, 150);
  border-radius: 10px;
  font-size: 20px;
  border-color: black;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.sent_msg {
  font-family: "Helvetica";
  color: #020202;
  float: right;
  border-color: black;
  font-size: 20px;
  padding: 0 0 0 10px;
  vertical-align: top;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.type_msg{
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.input_msg_write input {
    background-color: rgb(245, 142, 8); /* Orange */
    font-family: "Helvetica";
    color: rgb(0, 0, 0);
    border-color: green;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
  }
  
.msg_send_btn {
    background-color: rgb(245, 142, 8); /* Orange */
    font-family: "Helvetica";
    color: rgb(0, 0, 0);
    border-color: green;
    font-size: 20px;
    font-weight: bold;
  }
.messaging {
    padding: 0 0 0 0;
  }
.msg_history {
    height: 450px;
    overflow-y: auto;
  }


.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }
.inbox_msg {
    border: 1px solid #c4c4c4;
    border-color: black;
    clear: both;
    overflow: hidden;
  }
.top_spac {
    margin: 20px 0 0;
  }
.recent_heading {
    float: left;
    width: 40%;
  }
.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }
.chat_ib h5 span {
    font-size: 13px;
    float: right;
  }
.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
  }
.chat_img {
    float: left;
    width: 11%;
  }
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }
  
.chat_people {
    overflow: hidden;
    clear: both;
  }
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  
.active_chat {
    background: #ebebeb;
  }
  
.time_date {
    color: #747474;
    display: block;
    border-color: black;
    font-size: 12px;
    margin: 8px 0 0;
}
  
.inbox_chat {
    height: 550px;
    overflow-y: scroll;
 }

