//- inspired by maniruzzamanakash https://bootsnipp.com/snippets/M5obX

extends layout

block content
  br
  h2 Dashboard
  form(method='POST', action='/dashboard')
    #form-group
     label(for='post')
     textarea.form-control(type='text', name='post', placeholder='What do you want to say?')
    br
    input.btn.btn-primary(type='submit',value='Submit')
  br
  each Message, i in msgArr
    .card
      .card-body
        .row
          .col-md-2
            img.img.img-rounded.img-fluid(src='/pics/profile.png')
            //p.text-secondary.text-center 15 Minutes Ago
          .col-md-10
            //- p
            //-   a.float-left(href='https://maniruzzaman-akash.blogspot.com/p/contact.html')
            //-     strong Maniruzzaman Akash
            //-   span.float-right
            //-     i.text-warning.fa.fa-star
            //-   span.float-right
            //-     i.text-warning.fa.fa-star
            //-   span.float-right
            //-     i.text-warning.fa.fa-star
            //-   span.float-right
            //-     i.text-warning.fa.fa-star
            //- .clearfix
            p= Message
              a.float-right.btn.btn-outline-primary.ml-2
                i.fa.fa-reply
                |  Reply
              a.float-right.btn.text-white.btn-danger
                i.fa.fa-heart
                |  Like
      //- .card.card-inner
      //-   .card-body
      //-     .row
      //-       .col-md-2
      //-         img.img.img-rounded.img-fluid(src='https://image.ibb.co/jw55Ex/def_face.jpg')
      //-         p.text-secondary.text-center 15 Minutes Ago
      //-       .col-md-10
      //-         p
      //-           a(href='https://maniruzzaman-akash.blogspot.com/p/contact.html')
      //-             strong Maniruzzaman Akash
      //-         p
      //-           | Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      //-         p
      //-           a.float-right.btn.btn-outline-primary.ml-2
      //-             i.fa.fa-reply
      //-             |  Reply
      //-           a.float-right.btn.text-white.btn-danger
      //-             i.fa.fa-heart
      //-             |  Like

