//- inspired by maniruzzamanakash https://bootsnipp.com/snippets/M5obX

extends layout

block content
  link(href='/node_modules/bootstrap-suggest/node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/node_modules/bootstrap-suggest/bootstrap-suggest.css', rel='stylesheet')
  br
  h3 Dashboard
  .container
    .row
      .column.middle
        .container
          form(action='/dashboard', method='POST', name='dash', enctype='multipart/form-data',style='height: 150px; width: 1080px')
            #form-group
            //- Jquery imported for tagging feature.
            script(src='/node_modules/jquery/dist/jquery.js')
            script(src='/node_modules/jquery/dist/jquery.min.js')
            script(src='/node_modules/bootstrap-suggest/node_modules/bootstrap/dist/js/bootstrap.min.js')
            script(src='/node_modules/bootstrap-suggest/bootstrap-suggest.js')
            label(for='comment')
            textarea#comment.form-control(type='text', name='post', placeholder='What do you want to say?', rows='7',style='height: 90px; width: 1080px')
            script.
              var users = [
              {username: 'Xi Chen', fullname: 'Xi Chen'},
              {username: 'Peanut Gii', fullname: 'Peanut Gii'},
              {username: 's b', fullname: 's b'},
              {username: 'Shuang Gui', fullname: 'Shuang Gui'},
              {username: 'test test', fullname: 'test test'},
              {username: 'jane', fullname: 'Jane Doe'},
              ];
              $('#comment').suggest('@', {
              data: users,
              map: function(user) {
              return {
              value: user.username,
              text: '<strong>'+user.username+'</strong> <small>'+user.fullname+'</small>'
              }
              }
              })

            .file-field.input-field
              //- uploading pictures button
              input(name='myImage', type='file')
            input.btn.btn-success(type='submit', name= 'posting' value='Post',style='height: 40px; width: 95px')
          hr
        each post, i in postArr
          //- displaying dashboard posts 
          .card(style='height: 330px; width: 1080px')
            .card-body
              .row
                .col-md-2
                  img.img.img-rounded.img-fluid(src='/pics/6.png')
                  br
                  p(style='font-size: 1.8rem')= post.Sender
                  //p.text-secondary.text-center 
                .col-md-10                 
                  if(getImage(post)!="null")
                    img.responsive-img(src='/public/uploads/'+ post.ImageName width='360' height='180')
                  p(style='font-size: 1.5rem')= post.Message
                  t.float-right(style='font-size: 1.2rem')   ( #{post.Like} )
                  form(action='/likes',method='post',style='height: 180px; width: 1080px')
                    input(type='hidden', name='like', value= post.Like)
                    input(type='hidden', name='msgId',value= post.MsgId)
                    button#completed-task.float-right.btn-sm.btn-success(type='submit',style='height: 30px')
                      i.float-right.fa.fa-thumbs-o-up Like

        body(onload='assignId()')
            
    style.
        * {
        box-sizing: border-box;
        }
        /* Create three unequal columns that floats next to each other */
        .column {
        float: left;
        padding: 10px;
        }
        .left {
        width: 25%;
        }
        .middle {
        width: 75%;
        }
        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
    

    -function getMessage(post){
        -return post.Message;
    -}
    -function getImage(post){
        -return post.ImageName;
    -}
    -function getLike(post){
        -return post.Like;
    -}
    -function getDislike(post){
        -return post.Dislike;
    -}
    -function getSender(post){
        -return post.Sender;
    -}
