extends layout

block content
  br
  .container
    br
    h2 A platform for parents and teachers. 
    br
    a.btn.btn-info(href='/loginAs', role='button') Login
    br
    br
    a.btn.btn-info(href='/registerAs', role='button') Register