extends layout

block content
  br
  .container
    br
    h2 A platform for parents and teachers. 
    br
    a.btn.btn-info(href='/TeacherLogin', role='button') I am a teacher
    br
    br
    a.btn.btn-info(href='/ParentLogin', role='button') I am a parent