extends layout

block content
    br
    h3 Login
    br
    //- h5
    //- p
    //- img.img(src='/pics/hi.jpg' alt='Chania' width='360' height='200')

    .container
    form#login-form(method='post', action='/login')
        .form-group
            label(for='email') Email:
            input#email.form-control(type='email', name='email', placeholder='email')
        .form-group
            label(for='password') Password:
            input#password.form-control(type='password', name='password', placeholder='password')
        
        input(type='radio', name='userType', value='T', checked='checked')
        |I am a Teacher
        br
        label(for='userType') 
        input(type='radio', name='userType', value='P')
        |I am a Parent
        br
        label(for='userType') 
        button.btn.btn-success.form-control(type='submit') Login
        br
        a(href='/register') Don't have an account?
        a(href='/passwordforgot')   Forgot your password?

