extends layout

block content
    br
    h3 Login Page
    br
    .container
    form#login-form(method='post', action='/login')
        .form-group
            label(for='email') Email:
            input#email.form-control(type='email', name='email', placeholder='email')
        .form-group
            label(for='password') Password:
            input#password.form-control(type='password', name='password', placeholder='password')
        
        input(type='radio', name='userType', value='T', checked='checked')
        |I am a teacher
        br
        label(for='userType') 
        input(type='radio', name='userType', value='P')
        |I am a parent
        br
        label(for='userType') 
        button.btn.btn-primary.form-control(type='submit') Login
        br
        a(href='/register') Don't have an account?
