extends layout

block content
    br
    h3 Login Form
    br
    form#login-form(method='post', placeholder='/parentlogin')
        .form-group
            label(for='email') Email:
            input#email.form-control(type='email', name='email', placeholder='email')
        .form-group
            label(for='password') Password:
            input#password.form-control(type='password', name='password', placeholder='password')
        br
        button.btn.btn-primary.form-control(type='submit') Login
        a(href='/parent/parentregister') Don't have an account?
        a(href='/loginAs') Not a parent?