extends layout

block content
  br
  .container
    br
    h2 A platform for parents and teachers. 
    br
    a.btn.btn-info(href='/teacher/login', role='button') I am a teacher
    br
    br
    a.btn.btn-info(href='/parent/login', role='button') I am a parent