<!DOCTYPE html>
<html>
<head>
	<title>Parent Login</title>
</head>
<body>
	<div class="form-header">
	  <h2>Parent Login</h2>
	</div>
	<form id="login-form" method="post" action="/parentlogin">
		<div class="form-field">
			<label for="email">Email: </label>
			<input class="input" id="email" name="email" type="email" value="<%= qs.email %>" />
		</div>
		<div class="form-field">
	    <label for="password">Password: </label>
	    <input class="input" id="password" name="password" type="password" value="<%= qs.password %>" />
	  </div>
	  <div class="form-actions">
	    <button class="btn" type="submit">Login</button>
	  </div>
	</form>
	
</body>
</html>
