extends layout

block content
  br
  h3 Forgot your password?
  br
  .container
    form#accountname-form(method='post', action='/passwordforgot')
      .form-group
        label(for='text') Please enter your email to receive a reset link. 
        input#email.form-control(type='email', name='email', placeholder='Email Address')
        br
        input.btn.btn-success(type='submit', name= 'submit' value='Send Link',style='height: 40px; width: 95px')
        br
