extends layout

block content
  br
  h3 Password Reset
  br
  .container
    form#register-form(method='post', action='/passwordforgotredirect')
      .form-group
        label(for='text') New password: 
        input#lastname.form-control(type='password', name='newPassword', placeholder='New password')
      .form-group
        label(for='text') Repeat new password: 
        input#email.form-control(type='password', name='repeatPassword', placeholder='Repeat new password')
      button.btn.btn-primary.form-control(type='submit') Reset
      
    