//- inspired by suneelrajpoot44 Bootsnipp https://bootsnipp.com/snippets/E1nNa
extends layout
//- Profile page of other users. Loading and displaying an array of users "userArr" info : ID, firstname lastname, type, email.          
block content
    br
    .container
        .row
            .col-12
                .card
                    .card-body
                        .card-title.mb-4
                            .d-flex.justify-content-start
                                .image-container
                                    img#imgProfile.img-thumbnail(src='/pics/profile.png', style='width: 150px; height: 150px')
                                    .middle
                                .userData.ml-3
                                    h2.d-block(style='font-size: 2rem; font-weight: bold')
                                        br
                                        br
                                        p= firstName + ' ' + lastName
                                        
                                    h6.d-block
                                    h6.d-block
                                
                        .row
                            .col-12
                                ul#myTab.nav.nav-tabs.mb-4(role='tablist')
                                    li.nav-item
                                        a#basicInfo-tab.nav-link.active(data-toggle='tab', href='#basicInfo', role='tab', aria-controls='basicInfo', aria-selected='true') Profile
                                   
                                #myTabContent.tab-content.ml-1
                                    #basicInfo.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='basicInfo-tab')
                                        .row
                                            .col-sm-3.col-md-2.col-5
                                                label(style='font-weight:bold;') Full Name
                                            .col-md-8.col-6
                                                p= firstName + ' ' + lastName
                                        hr
                                        .row
                                            .col-sm-3.col-md-2.col-5
                                                label(style='font-weight:bold;') UserID
                                            .col-md-8.col-6
                                                p= userId
                                        hr
                                        .row
                                            .col-sm-3.col-md-2.col-5
                                                label(style='font-weight:bold;') Email
                                            .col-md-8.col-6
                                                p= email
                                        hr
                                        .row
                                            .col-sm-3.col-md-2.col-5
                                                label(style='font-weight:bold;') User type
                                            .col-md-8.col-6
                                                if (type=='P')
                                                    p Parent
                                                if (type=='T')
                                                    p Teacher