extends layout

block content
  br
  .container
    br
    h2 Are you a teacher or a parent?
    br
    a.btn.btn-info(href='/registerTeacher', role='button') I am a teacher
    br
    br
    a.btn.btn-info(href='/registerParent', role='button') I am a parent